@model scsp.ViewModels.DonationCreateViewModel

@{
    ViewData["Title"] = "Create";
    ViewBag.currentuser = @Model.currentuser;
}

<h1>Create</h1>

<h4>Donation</h4>
@if (!String.IsNullOrEmpty(@Model.AlertMsg))
{
    string alert = @Model.AlertType;
    <div class="alert alert-@alert alert-dismissible fade show" role="alert">
        <h5>@Model.AlertMsg</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Amount</label>
                <input class="form-control" type="number" required name="amount" id="amount" value="@Model.Amount"/>
                <span class="text-danger"></span>
            </div>
            <br>
            <span class="form-group">
                <input type="submit" value="Donate" class="btn btn-primary" />
            </span>
            <span>
                <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
            </span>
        </form>
    </div>
</div>

