@model scsp.ViewModels.ExploreIndexViewModel
@{
    ViewData["Title"] = "Explore";
   
}

@section Styles {
    <link href="@Url.Content("~/css/explore.css")" rel="stylesheet" type="text/css" />
}

<form asp-action="Index" class="form">
    <div class="input-group mb-3">
        <input type="text" class="form-control form-control-lg" placeholder="Search Here" name="query" id="query" value="@Model.query"/>
        <button type="submit" class="input-group-text btn-primary"><i class="fa fa-search me-2"></i> Search</button>
    </div>
</form>

<div class="results">
    <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
        <th>Users</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var User in @Model.Users)
        {
            <tr>
            <td>
                <a asp-action="Explore" asp-controller="Profile" asp-route-id="@User.UserID" class="text-reset text-decoration-none">
                <div class="d-flex align-items-center">
                    @if (String.IsNullOrEmpty(@User.Photo))
                    {
                        string initials = @User.FName[0] + "" + (String.IsNullOrEmpty(@User.LName) ? "" : @User.LName[0]);
                        string avatardefault = "https://avatars.dicebear.com/api/initials/"+initials+".svg?r=50&b=black";

                        <img src="@avatardefault" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                    } else {
                        <img src="data:image/;base64,@User.Photo" alt="" style="width: 45px; height: 45px; object-fit: cover" class="rounded-circle" />
                    }
                    <div class="ms-3">
                        <p class="fw-bold mb-1">@User.FName @User.LName</p>
                        <p class="text-muted mb-0">@User.UserID</p>
                    </div>
                </div>
                </a>
            </td>
            </tr>
        }
    </tbody>
    </table>
</div>

@section Scripts{
    <script>
    </script>
}