@model scsp.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = "Details";
    var Post = @Model.Post;
    var User = @Post.Author;
    ViewBag.currentuser = @Model.currentuser;
    bool likedbyme = @Model.likedbyme;
    bool dislikedbyme = @Model.dislikedbyme;
    string like_btn_design = likedbyme ? "btn-success" : "btn-outline-success";
    string dislike_btn_design = dislikedbyme ? "btn-danger" : "btn-outline-danger";
    string likemsg = "Like" + (likedbyme ? "d" : "");
    string dislikemsg = "Dislike" + (dislikedbyme ? "d" : "");
}


@section Styles {
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}


<h1>Post Details</h1>

<div>
    <div class="card">
        <div class="d-flex justify-content-between p-2 px-3">
            <div class="d-flex flex-row align-items-center"> 
                <a class="text-reset text-decoration-none" asp-action="Explore" asp-controller="Profile" asp-route-id="@Post.AuthorId">
                <img src="@Post.Author.Photo" class="rounded-circle" width=50 height=50 alt="photo" style="object-fit: cover;">
                </a>

                <div class="d-flex flex-column ms-2"> 
                    <span class="font-weight-bold">
                        <a class="text-reset text-decoration-none" asp-action="Explore" asp-controller="Profile" asp-route-id="@Post.AuthorId">
                            @Post.Author.FName @Post.Author.LName
                        </a>
                    </span> 
                    <small class="text-primary">
                        <a class="text-reset text-decoration-none" asp-action="Explore" asp-controller="Profile" asp-route-id="@Post.AuthorId">
                            @Post.AuthorId
                        </a>
                    </small> 
                </div>
            </div>
            <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2 text-muted">
                @{
                    var td = DateTime.Now - Post.Time;
                    var days = td.Days;
                    var hours = td.Hours;
                    var mins = td.Minutes;
                    var secs = td.Seconds;
                    var timetext = "";
                    if(days > 0){
                        timetext = days + " day" + (days == 1 ? "" : "s") + " ago";
                    } else if(hours > 0){
                        timetext = hours + " hour" + (hours == 1 ? "" : "s") + " ago";
                    }
                        else if(mins > 0){
                        timetext = mins + " minute" + (mins == 1 ? "" : "s") + " ago";
                    }
                        else if(secs > 0){
                        timetext = secs + " second" + (secs == 1 ? "" : "s") + " ago";
                    } else {
                        timetext = "Now";
                    }
                }
                @timetext
            </small> </div>
        </div> 
        @if (!String.IsNullOrEmpty(Post.Photo))
        {
            <img src="data:image;base64,@Post.Photo" class="img-fluid" alt="photo">
        }
        <div class="ps-3 pt-2 pb-2">
            <p class="" style="text-align: left;">@Post.Content</p>
            <hr>
            <div class="d-flex justify-content-between align-items-center stats">
                <div class="d-flex flex-row icons align-items-center"> 
                    <div class="likes">
                    <a asp-action="Like" asp-route-id="@Post.PostID" class="btn @like_btn_design"><i class="fa fa-thumbs-up"></i>
                     @likemsg
                    @Post.Likes.Count </a>
                    </div>
                    <div class="dislikes">
                   <a asp-action="Dislike" asp-route-id="@Post.PostID" class="btn @dislike_btn_design"><i class="fa fa-thumbs-down"></i> 
                   @dislikemsg
                   @Post.Dislikes.Count</a> 
                    </div>
                </div>
            </div>
            <hr>
            <form asp-action="Create" asp-controller="Comment" asp-route-id="@Post.PostID">
                <div class="commentbox input-group">
                    <input class="form-control rounded" placeholder="Write a comment..." name="comment" id="comment" autocomplete="off" required maxlength="250"/>
                    <button type="submit" value="Comment" class="btn btn-primary me-2">Comment <i class="fas fa-paper-plane"></i></button>
                </div>
            </form>
            <div class="be-comment-block">
                <h1 class="comments-title">Comments (@Post.Comments.Count)</h1>
                @foreach (var Comment in Post.Comments)
                {
                    <div class="be-comment">
                        <div class="be-img-comment">	
                            <a asp-action="Explore" asp-controller="Profile" asp-route-id="@Comment.Author.UserID">
                                <img src="@Comment.Author.Photo" alt="" class="be-ava-comment" style="object-fit: cover;">
                            </a>
                        </div>
                        <div class="be-comment-content">
                            <span class="be-comment-name">
                                <a asp-action="Explore" asp-controller="Profile" asp-route-id="@Comment.Author.UserID">@Comment.Author.FName @Comment.Author.LName</a>
                                </span>
                            <span class="be-comment-time">
                                <i class="fa fa-clock"></i>
                                @{
                                    td = DateTime.Now - Comment.Time;
                                    days = td.Days;
                                    hours = td.Hours;
                                    mins = td.Minutes;
                                    secs = td.Seconds;
                                    timetext = "";
                                    if(days > 0){
                                        timetext = days + " day" + (days == 1 ? "" : "s") + " ago";
                                    } else if(hours > 0){
                                        timetext = hours + " hour" + (hours == 1 ? "" : "s") + " ago";
                                    }
                                        else if(mins > 0){
                                        timetext = mins + " minute" + (mins == 1 ? "" : "s") + " ago";
                                    }
                                        else if(secs > 0){
                                        timetext = secs + " second" + (secs == 1 ? "" : "s") + " ago";
                                    } else {
                                        timetext = "Now";
                                    }
                                }
                                @timetext
                            </span>

                            <p class="be-comment-text">
                                @Comment.Content
                            </p>
                        </div>
                        <div class="likedislike">
                            <span class="likes">
                            <a class="text-decoration-none" asp-action="Like" asp-controller="Comment" asp-route-id="@Comment.CommentID"><i class="fa fa-thumbs-up"></i> Like</a>
                            ( @Comment.Likes.Count )
                            </span> | 
                            <span class="dislikes">
                            <a class="text-decoration-none" asp-action="Dislike" asp-controller="Comment" asp-route-id="@Comment.CommentID"><i class="fa fa-thumbs-down"></i> Dislike</a>
                            ( @Comment.Dislikes.Count )
                            </span>
                        </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>