@model scsp.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = "Details";
    var Post = @Model.Post;
    var User = @Post.Author;
    string username = @User.UserID;
    string fname = @User.FName;
    string lname = @User.LName ?? "";
    string bio = @User.Bio ?? "";
    string name = fname + " " + lname;
    string initials = @User.FName[0] + "" + (String.IsNullOrEmpty(@User.LName) ? "" : @User.LName[0]);
    string avatardefault = "https://avatars.dicebear.com/api/initials/"+initials+".svg?r=50&b=black";
    bool likedbyme = @Model.likedbyme;
    bool dislikedbyme = @Model.dislikedbyme;
    string like_btn_design = likedbyme ? "btn-success" : "btn-outline-success";
    string dislike_btn_design = dislikedbyme ? "btn-danger" : "btn-outline-danger";
    string likemsg = "Like" + (likedbyme ? "d" : "");
    string dislikemsg = "Dislike" + (dislikedbyme ? "d" : "");
}


@section Styles {
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}


<h1>Post Details</h1>

<div>
    <div class="card">
        <div class="d-flex justify-content-between p-2 px-3">
            <div class="d-flex flex-row align-items-center"> 
                <a class="text-reset text-decoration-none" asp-action="Explore" asp-controller="Profile" asp-route-id="@Post.AuthorId">

                @if (!String.IsNullOrEmpty(Post.Author.Photo))
                {
                <img src="data:image;base64,@Post.Author.Photo" class="rounded-circle" width=50 alt="photo">
                } else{
                <img src='@avatardefault' class="rounded-circle" width=50 alt="photo">
                }
                </a>

                <div class="d-flex flex-column ms-2"> 
                    <span class="font-weight-bold">
                        <a class="text-reset text-decoration-none" asp-action="Explore" asp-controller="Profile" asp-route-id="@Post.AuthorId">
                            @Post.Author.FName @Post.Author.LName
                        </a>
                    </span> 
                    <small class="text-primary">
                        <a class="text-reset text-decoration-none" asp-action="Explore" asp-controller="Profile" asp-route-id="@Post.AuthorId">
                            @Post.AuthorId
                        </a>
                    </small> 
                </div>
            </div>
            <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">@Post.Time</small> </div>
        </div> 
        @if (!String.IsNullOrEmpty(Post.Photo))
        {
            <img src="data:image;base64,@Post.Photo" class="img-fluid" alt="photo">
        }
        <div class="ps-3 pt-2 pb-2">
            <p class="" style="text-align: left;">@Post.Content</p>
            <hr>
            <div class="d-flex justify-content-between align-items-center stats">
                <div class="d-flex flex-row icons align-items-center"> 
                    <div class="likes">
                    <a asp-action="Like" asp-route-id="@Post.PostID" class="btn @like_btn_design"><i class="fa fa-thumbs-up"></i>
                     @likemsg
                    @Post.Likes.Count </a>
                    </div>
                    <div class="dislikes">
                   <a asp-action="Dislike" asp-route-id="@Post.PostID" class="btn @dislike_btn_design"><i class="fa fa-thumbs-down"></i> 
                   @dislikemsg
                   @Post.Dislikes.Count</a> 
                    </div>
                </div>
            </div>
            <hr>
            <form asp-action="Create" asp-controller="Comment" asp-route-id="@Post.PostID">
                <div class="commentbox input-group">
                    <input class="form-control rounded" placeholder="Write a comment..." name="comment" id="comment" autocomplete="off" required maxlength="250"/>
                    <button type="submit" value="Comment" class="btn btn-primary me-2">Comment <i class="fas fa-paper-plane"></i></button>
                </div>
            </form>
            <div class="be-comment-block">
                <h1 class="comments-title">Comments (@Post.Comments.Count)</h1>
                @foreach (var Comment in Post.Comments)
                {
                    User = @Comment.Author;
                    username = @User.UserID;
                    fname = @User.FName;
                    lname = @User.LName ?? "";
                    bio = @User.Bio ?? "";
                    name = fname + " " + lname;
                    initials = @User.FName[0] + "" + (String.IsNullOrEmpty(@User.LName) ? "" : @User.LName[0]);
                    avatardefault = "https://avatars.dicebear.com/api/initials/"+initials+".svg?r=50&b=black";
                    <div class="be-comment">
                        <div class="be-img-comment">	
                            <a asp-action="Explore" asp-controller="Profile" asp-route-id="@Comment.Author.UserID">
                                @if (!String.IsNullOrEmpty(Comment.Author.Photo))
                                {
                                <img src="data:image;base64,@Comment.Author.Photo" alt="" class="be-ava-comment" style="object-fit: cover">
                                } else{
                                <img src='@avatardefault' alt="" class="be-ava-comment">
                                }
                            </a>
                        </div>
                        <div class="be-comment-content">
                            <span class="be-comment-name">
                                <a asp-action="Explore" asp-controller="Profile" asp-route-id="@Comment.Author.UserID">@User.FName @User.LName</a>
                                </span>
                            <span class="be-comment-time">
                                <i class="fa fa-clock"></i>
                                @Comment.Time
                            </span>

                            <p class="be-comment-text">
                                @Comment.Content
                            </p>
                        </div>
                        <div class="likedislike">
                            <span class="likes">
                            <a class="text-decoration-none" asp-action="Like" asp-controller="Comment" asp-route-id="@Comment.CommentID"><i class="fa fa-thumbs-up"></i> Like</a>
                            ( @Comment.Likes.Count )
                            </span> | 
                            <span class="dislikes">
                            <a class="text-decoration-none" asp-action="Dislike" asp-controller="Comment" asp-route-id="@Comment.CommentID"><i class="fa fa-thumbs-down"></i> Dislike</a>
                            ( @Comment.Dislikes.Count )
                            </span>
                        </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>