@model scsp.ViewModels.ProfileUpdateDPViewModel

@{
    ViewData["Title"] = "Update Display Picture - Profile";
    string username = @Model.currentuser.UserID;
    string fname = @Model.currentuser.FName;
    string lname = @Model.currentuser.LName ?? "";
    string bio = @Model.currentuser.Bio ?? "";
    string name = fname + " " + lname;
    string initials = fname[0] + "" + lname[0];
    string avatardefault = "https://avatars.dicebear.com/api/initials/"+initials+".svg?r=50&b=black";
}
@if (!String.IsNullOrEmpty(@Model.AlertMsg))
{
    string alert = @Model.AlertType;
    <div class="alert alert-@alert alert-dismissible fade show" role="alert">
        <h5>@Model.AlertMsg</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form asp-action="UpdateDP" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="currentuser.UserID" name="username" id="username" />
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
            <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    @if (String.IsNullOrEmpty(@Model.currentuser.Photo))
                    {
                        <img src='@avatardefault'
                        alt="profile photo" class="img-fluid img-thumbnail mt-4 mb-2"
                        style="width: 150px; height: 150px; object-fit: cover; z-index: 1; border-radius: 50%">
                    }else{
                        <img src='data:image;base64,@Model.currentuser.Photo'
                        alt="profile photo" class="img-fluid img-thumbnail mt-4 mb-2"
                        style="width: 150px; height: 150px; object-fit: cover; z-index: 1; border-radius: 50%">
                    }
                </div>
                <div class="ms-3" style="margin-top: 130px;">
                <h5>@Model.currentuser.FName @Model.currentuser.LName</h5>
                <p>@Model.currentuser.UserID</p>
                </div>
            </div>
            <div class="card-body p-4 text-black">
                <div class="mb-5">
                <p class="lead fw-normal mb-1">Update Display Picture</p>
                <div class="form-group">
                    <label class="control-label">Upload New Display Picture</label>
                    <input type="file" class="form-control" name="file" id="file" />
                </div>
                <br>
                <span class="form-group">
                    <input type="submit" value="Update" class="btn btn-success me-2" />
                </span>
                <span>
                    <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
                </span>
            </div>
        </div>
    </div>
</form>
