@model scsp.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home";
    var Posts = @Model.Posts;
}

@section Styles {
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}


<div class="text-center">
    <h1 class="display-4">Home</h1>
    <h5 class="text-secondary">Welcome @Model.currentuser.FName</h1>
    <br>
    <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Post"><i class="fa-solid fa-plus"></i> New Post</a>
    <br><hr><br>
    @foreach (var Post in @Posts)
        {
            <div class="card">
                      @if (!String.IsNullOrEmpty(Post.Photo))
                      {
                        <img src="data:image;base64,@Post.Photo" class="card-img-top" alt="photo">
                      }
                      <div class="card-body">
                        @* <h5 class="card-title">Card title</h5> *@
                        <p class="card-text">@Post.Content</p>
                        @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
                      </div>
                      <div class="card-footer">
                        <i class="fa-solid fa-thumbs-up"></i> @Post.Likes.Count &nbsp; &nbsp;
                        <i class="fa-solid fa-thumbs-down"></i> @Post.Dislikes.Count &nbsp; &nbsp;
                        <i class="fa-solid fa-comment"></i> @Post.Dislikes.Count &nbsp; &nbsp;
                      </div>
                      <div class="card-footer">
                        Posted on: @Post.Time by @Post.Author.FName @Post.Author.LName
                      </div>
                    </div>
        }
</div>
