@model scsp.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home";
    var Posts = @Model.Posts;
}

@section Styles {
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}


<div class="text-center">
    <h1 class="display-4">Home</h1>
    <h5 class="text-secondary">Welcome @Model.currentuser.FName</h1>
    <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Post"><i class="fa-solid fa-plus"></i> New Post</a>
    <br><hr><br>
    @foreach (var Post in @Posts)
        {
          var User = @Post.Author;
          string username = @User.UserID;
          string fname = @User.FName;
          string lname = @User.LName ?? "";
          string bio = @User.Bio ?? "";
          string name = fname + " " + lname;
          string initials = @User.FName[0] + "" + (String.IsNullOrEmpty(@User.LName) ? "" : @User.LName[0]);
          string avatardefault = "https://avatars.dicebear.com/api/initials/"+initials+".svg?r=50&b=black";
          <div class="card">
            <div class="d-flex justify-content-between p-2 px-3">
                <div class="d-flex flex-row align-items-center"> 
                    @if (!String.IsNullOrEmpty(Post.Author.Photo))
                    {
                    <img src="data:image;base64,@Post.Author.Photo" class="rounded-circle" width=50 alt="photo">
                    } else{
                    <img src='@avatardefault' class="rounded-circle" width=50 alt="photo">
                    }
                    <div class="d-flex flex-column ms-2"> <span class="font-weight-bold">@Post.Author.FName @Post.Author.LName</span> <small class="text-primary">Following</small> </div>
                </div>
                <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">@Post.Time.ToShortDateString()</small> </div>
            </div> 
            @if (!String.IsNullOrEmpty(Post.Photo))
            {
                <img src="data:image;base64,@Post.Photo" class="img-fluid" alt="photo">
            }
            <div class="ps-3 pt-2 pb-2">
                <p class="" style="text-align: left;">@Post.Content</p>
                <hr>
                <div class="d-flex justify-content-between align-items-center stats">
                    <div class="d-flex flex-row icons align-items-center"> 
                        <div class="likes">
                        <i class="fa fa-thumbs-up"></i> @Post.Likes.Count 
                        </div>
                        <div class="dislikes">
                        <i class="fa fa-thumbs-down ml-2"></i> @Post.Dislikes.Count 
                        </div>
                    </div>
                    <a class="muted-color com" asp-action="Details" asp-controller="Post" asp-route-id="@Post.PostID"> @Post.Comments.Count comments </a>
                </div>
                <hr>
                <form asp-action="Create" asp-controller="Comment" asp-route-id="@Post.PostID">
                  <div class="commentbox input-group">
                      <input class="form-control rounded" placeholder="Write a comment..." name="comment" id="comment" autocomplete="off" required maxlength="250"/>
                      <button type="submit" value="Comment" class="btn btn-primary me-2">Comment <i class="fas fa-paper-plane"></i></button>
                  </div>
                </form>
            </div>
        </div>
        }
</div>
