@model scsp.ViewModels.MessageIndexViewModel

@{
    ViewData["Title"] = "Inbox";
}
@if (!String.IsNullOrEmpty(@Model.errormsg))
{
    string alert = "danger";
    <div class="alert alert-@alert alert-dismissible fade show" role="alert">
        <h5>@Model.errormsg</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h1>Inbox</h1>
<div class="row sideBar">
@foreach (var kv in Model.Users) {
        var User = kv.Key;
        var Messages = kv.Value;
        string username = @User.UserID;
        string fname = @User.FName;
        string lname = @User.LName ?? "";
        string bio = @User.Bio ?? "";
        string name = fname + " " + lname;
        string initials = @User.FName[0] + "" + (String.IsNullOrEmpty(@User.LName) ? "" : @User.LName[0]);
        string avatardefault = "https://avatars.dicebear.com/api/initials/"+initials+".svg?r=50&b=black";
        <a class="text-reset text-decoration-none" asp-action="Send" asp-route-id="@User.UserID" style="padding: 0px">
        <div class="row sideBar-body">
            <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                    @if (String.IsNullOrEmpty(@User.Photo))
                    {
                        <img src='@avatardefault'>
                    }else{
                        <img src='data:image;base64,@User.Photo'>
                    }
                </div>
            </div>
            <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                    <div class="col-sm-8 col-xs-8 sideBar-name">
                        <span class="name-meta">@fname @lname
                        </span>
                    </div>
                    <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                        <span class="time-meta pull-right">@Messages messages
                        </span>
                    </div>
                </div>
            </div>
        </div>
        </a>
    }
</div>

@section Styles{
    <link href="@Url.Content("~/css/messageinbox.css")" rel="stylesheet" type="text/css" />
}