@model scsp.ViewModels.MessageIndexViewModel

@{
    ViewData["Title"] = "Inbox";
}
@if (!String.IsNullOrEmpty(@Model.errormsg))
{
    string alert = "danger";
    <div class="alert alert-@alert alert-dismissible fade show" role="alert">
        <h5>@Model.errormsg</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h1>Inbox</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Messages</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>@item.Key.UserID</td>
            <td>@item.Key.FName @item.Key.LName</td>
            <td>@item.Value</td>
            <td>
                <a asp-action="Send" asp-route-id="@item.Key.UserID">Open</a>
            </td>
        </tr>
}
    </tbody>
</table>
