@model scsp.ViewModels.MessageIndexViewModel

@{
    ViewData["Title"] = "Inbox";
    ViewBag.currentuser = @Model.from;
}
@if (!String.IsNullOrEmpty(@Model.errormsg))
{
    string alert = "danger";
    <div class="alert alert-@alert alert-dismissible fade show" role="alert">
        <h5>@Model.errormsg</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h1>Inbox</h1>
@foreach (var kv in Model.Users) {
        var User = kv.Key;
        var Messages = kv.Value;
        string username = @User.UserID;
        string fname = @User.FName;
        string lname = @User.LName ?? "";
        <a class="text-reset text-decoration-none" asp-action="Send" asp-route-id="@User.UserID" style="padding: 0px">
        <div class="d-flex flex-row justify-content-between align-items-center m-1 p-2">
            <div class="avatar-icon">
                <img src='@User.Photo' style="object-fit: cover;"> <span class="ps-3">@fname @lname  </span>
            </div>
            <div class="small text-muted text-right">
                @Messages messages
            </div>
        </div>
        </a>
    }

@section Styles{
    <link href="@Url.Content("~/css/messageinbox.css")" rel="stylesheet" type="text/css" />
}