@model scsp.ViewModels.MessageSendViewModel

@{
    var messages = @Model.Messages;
    var message = @Model.message;
    var errormsg = @Model.errormsg;
    var from = @Model.from;
    var to = @Model.to;
    var User = to;
    string username = @User.UserID;
    string fname = @User.FName;
    string lname = @User.LName ?? "";
    string bio = @User.Bio ?? "";
    string name = fname + " " + lname;
    string initials = @User.FName[0] + "" + (String.IsNullOrEmpty(@User.LName) ? "" : @User.LName[0]);
    string avatardefault = "https://avatars.dicebear.com/api/initials/"+initials+".svg?r=50&b=black";
    ViewData["Title"] = "Chat - " + to.UserID;
}
<div class="topbar sticky-top">
    <a asp-action="Index" class="btn btn-outline-dark">&lt; Inbox</a> <br><br>
    <div class="d-flex flex-row align-items-center">
            <a class="text-reset text-decoration-none" asp-action="Explore" asp-controller="Profile" asp-route-id="@to.UserID">

            @if (!String.IsNullOrEmpty(to.Photo))
            {
            <img src="data:image;base64,@to.Photo" class="rounded-circle" width=50 alt="photo">
            } else{
            <img src='@avatardefault' class="rounded-circle" width=50 alt="photo">
            }
            </a>

            <div class="d-flex flex-column ms-2"> 
                <span class="font-weight-bold">
                    <a class="text-reset text-decoration-none" asp-action="Explore" asp-controller="Profile" asp-route-id="@to.UserID">
                        @to.FName @to.LName
                    </a>
                </span> 
                <small class="text-primary">
                    <a class="text-reset text-decoration-none" asp-action="Explore" asp-controller="Profile" asp-route-id="@to.UserID">
                        @to.UserID
                    </a>
                </small> 
            </div>
    </div>
    <hr />
</div>
<div class="chats">
   <ul>
    @foreach (var msg in @messages)
    {
        var direction =  @msg.From == @Model.from ? "you" : "him";
      <li>
        <div class="msg @direction"><span class="partner">@msg.From.UserID</span>@msg.Content<span class="time">@msg.Time</span></div>
      </li>
    }
   </ul>
</div>
<form asp-action="Send" class="">
    <div class="bottom fixed-bottom">
        @if (!String.IsNullOrEmpty(@Model.errormsg)){
            string alert = "danger";
            <div class="alert alert-@alert alert-dismissible fade show" role="alert">
                <h5>@Model.errormsg</h5>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="input-group pb-3 pt-3 container sendtext">
            <input class="form-control rounded" placeholder="Send a message..." name="message" id="message" autocomplete="off"/>
            <button type="submit" value="Send" class="btn btn-primary">Send <i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</form>

@section Styles{
    <style>
        .sendtext{
            min-height: 60px;
        }
        .footer{
            display: none;
        }
        .bottom{
            background-color: var(--bs-light);
            border-top: 1px solid var(--bs-gray-500);
        }
    </style>
    <link href="@Url.Content("~/css/message.css")" rel="stylesheet" type="text/css" />

}

@section Scripts{
    <script>
        window.scrollTo(0, document.body.scrollHeight);
    </script>
}