@model scsp.ViewModels.MessageSendViewModel

@{
    var messages = @Model.Messages;
    var message = @Model.message;
    var errormsg = @Model.errormsg;
    var from = @Model.from;
    var to = @Model.to;
    ViewData["Title"] = "Chat - " + to.UserID;
}
<a asp-action="Index" class="btn btn-outline-dark">&lt; Inbox</a>
<h1>Chat with @to.UserID</h1>
<hr />
<div class="chats">
   <ul>
    @foreach (var msg in @messages)
    {
        var direction =  @msg.From == @Model.from ? "you" : "him";
      <li>
        <div class="msg @direction"><span class="partner">@msg.From.UserID</span>@msg.Content<span class="time">@msg.Time</span></div>
      </li>
    }
   </ul>
</div>
<form asp-action="Send" class="">
    <div class="bottom fixed-bottom">
        @if (!String.IsNullOrEmpty(@Model.errormsg)){
            string alert = "danger";
            <div class="alert alert-@alert alert-dismissible fade show" role="alert">
                <h5>@Model.errormsg</h5>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="input-group pb-3 pt-3 container sendtext">
            <input class="form-control rounded" placeholder="Send a message..." name="message" id="message" autocomplete="off"/>
            <button type="submit" value="Send" class="btn btn-primary">Send <i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</form>

@section Styles{
    <style>
        .sendtext{
            min-height: 60px;
        }
        .footer{
            display: none;
        }
        .bottom{
            background-color: var(--bs-light);
            border-top: 1px solid var(--bs-gray-500);
        }
    </style>
    <link href="@Url.Content("~/css/message.css")" rel="stylesheet" type="text/css" />

}